
.jumbotron
{  margin: 0;  
  background-image: linear-gradient(to right,lavender, lightseagreen,lavender);
  height: 350px;;
  color : black;
}     
  h2,h5,h4
{
    text-align: center;

}
.btn {
    border-radius: 15px;
    color:         #f5f6f4d5;
    padding:       5px 5px;
    font:         "Open Sans", sans-serif;
    text-align:    center;
    margin : 20px;
  }
  .navbar {
    background-color:lightseagreen;
    font-size: 20px;   
  }  
  .border {
    display:block;
    text-align: center;
   }
  .carousel-caption 
    {
        background-color: rgba(0, 0, 0, 0.5); 
      }     
      #carouselButton {
        position: absolute;
        right: 0;
        bottom: 0; 
      }
     
      
