
.jumbotron
{  margin: 0;  
  background-image: linear-gradient(to right,lavender, lightseagreen,lavender);
  height: 330px;;
  color : black;
}     
  h1,h2,h5,h4,h6,h3
{
    text-align: center;

}
p{
 text-align: center;
}
.btnheader {

     border-radius: 40px;
      color:        rgb(224, 197, 214);
      font-size: 1em;
      font-style: italic;
      font-weight: bold;
      padding:5px 5px;    
      text-align:    center;
      margin : 20px;
      background-color:rgb(109,95, 236);
      border-radius: 50%;
      height: 4.5em;
      width: 4.5em;
      font-family:'Times New Roman', Times, serif;

/*background: #456BD9;
  border: 0.1875em solid #0F1C3F;
  border-radius: 50%;
  height: 4em;
  width: 4em;*/
 }
 .navbar {
      background-color: rgb(109,95, 236);
      font-size: 20px;   
 }  
 .border {
      display:block;
      text-align: center;
 }
 .carousel-caption 
 {
     background-color: rgba(0, 0, 0, 0.5); 

 }       
 #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0; 
}
.site-footer {
    background-image: linear-gradient(to right,lavender, lightseagreen,lavender);
    padding: 20px 0;
 }
  
    body{
        font-size:18px;
    }
        #headersite
    {
        background-image: url("Images/image010.jpg");
    }
.row-content{
    text-align: center;
}
.card-header{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(109,95, 236);
    font-style: italic;
    
}
/*
.accordion:hover .card-header:hover .card-body
{
    height: 10em;
}
.card-body, .accordion:hover .card-body{

    height: 0;  
    overflow: hidden;
   }*/

.card-body{
    font-style: initial;
}